@use './variables' as *;

// Food  Item

.foodItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 5px;
    background-color: $blue;

    border-radius: 10px;
    padding: 10px;
    width: fit-content;
    height: fit-content;

    min-width: 175px;
    min-height: 280px;

    z-index: 10;
}

.foodImgContainer {
    width: 70px;
    aspect-ratio: 1 / 1;

}

// EXPIRY FORM

.expForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.expDisplay {
    // for error msg
    position: relative;
    height: 30px;


    .errorMsg {
        width: 200px;
        top: 80px;
        right: -100px;
    }
}