header {
    margin-bottom: 20px;
}


// nav section
.displayTabs {
    display: flex;
    justify-content: center;
}

.tabItem {
    display: block;
    background-color: rgb(173, 173, 247);
    border-radius: 10px;
    padding: 5px 15px;
}