@use './variables' as *;

// Food  Item

.foodItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;

    background-color: $lightBlue;
    border: 2px solid $blue;
    border-radius: 10px;
    padding: 10px;

    width: 175px;
    height: 280px;

    z-index: 10;

    transition: 0.5s ease;
}

.expired {
    background-color: $hoverGreen;
    border: 2px solid $green;
}

.foodTitle {
    width: 100%;
    text-align: center;
    text-transform: capitalize;
}

.foodImgContainer {
    width: 70px;
    aspect-ratio: 1 / 1;
}

// EXPIRY FORM

.expForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

    input[type="date"] {
        border: none;
        width: 160px;
        border-radius: 10px;

        &:hover {
            cursor: text;
        }
    }
}

.expDisplay {
    // for error msg
    position: relative;
    height: 30px;

    .errorMsg {
        width: 200px;
        top: 80px;
        right: -60px;
    }
}

.buttonContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}