@media (max-width:500px) {

    .listForm {
        label {
            display: none;
        }
    }
}

@media(max-width:360px) {
    .displayTabs {
        gap: 2px;
    }

    .tabItem {
        font-size: .85rem;
    }
}