@use './variables' as *;


.listDisplay,
.tabDisplay {
    max-width: 700px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foodList {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    color: $black;
    margin: 15px;
    padding: 25px;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

    position: relative;
    transition: 03s ease;

    &.fridge {
        background-color: $white;
    }

    &.grocery {
        background-color: $yellow;


        // paper line effect
        &::before {
            content: '';
            width: 2px;
            height: 100%;
            position: absolute;
            top: 0px;
            left: 100px;
            background-color: $red;
            opacity: .5;
            z-index: 0;
        }

        &::after {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0px;
            left: 0px;
            background-image: repeating-linear-gradient(transparent 0px, transparent 24px, rgb(0, 128, 128) 25px);
            z-index: 0;
        }
    }
}


// ABOUT SECTION

// ABOUT ARTICLE
.aboutApp {
    // container styling
    background-color: $white;
    width: 100%;
    height: 100%;
    border-radius: 0 10px 10px 10px;

    padding: 15px 40px;
    margin: 0 0 30px 0;
    color: $black;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    h2 {
        width: 100%;
        text-align: center;
    }

    overflow-y: scroll;
}

.instructions {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        text-align: center;
    }
}

.listFeaturesContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.listFeatures {
    h3 {
        margin: 0 0 15px;
    }

    ul {
        list-style-type: disc;
    }

    li {
        margin: 10px;
    }
}


// auth modal

// auth tab
.tabDisplay .authForm {
    background-color: $white;
    color: $black;
    width: 100%;
    height: 100%;
    border-radius: 0 0 10px 10px;

}

.authForm {
    .wrapper {
        display: flex;
        justify-content: center;
        gap: 15px;
    }

    .inputContainer {
        display: flex;
        flex-direction: column;
        width: 250px;

        input {}
    }

    .passwordContainer {
        display: flex;
        width: 250px;


        .seePassBtn {
            width: 30px;
        }
    }
}

// auth modal