// base colors
$black: #191919;
$white: #efefef;
$red: #F4705E;
$green: #C5F48B;
$lightBlue: #a3c3f2;
$blue: #79A3E0;
$grey: #999999;
$yellow: #F8EC85;
// hover

$hoverGreen: #a2c971;


// Animations

@keyframes inputError {
    from {
        opacity: 0;
        top: -50px;
    }

    to {
        opacity: 1;
        top: -64px;
    }
}

@keyframes expError {
    from {
        opacity: 0;
        top: -50px;
    }

    to {
        opacity: 1;
        top: -64px;
    }
}

@keyframes attention {
    0% {
        opacity: 0;
        scale: .9;
    }

    40% {
        scale: 1.13;

    }

    100% {
        opacity: 1;
        scale: 1;
    }
}